button{
    background-color: rgb(204, 204, 255);
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 12px;
    padding: 14px 40px;
    border: 2px solid;
    
}

button:hover{
    font-size:30px;
    background-color: rgb(230, 230, 255);
}

.buttons-container{
    display: flex;
    align-items: center;
    width:100%;
    height: 100%;
    margin-top:10%;
}
.year{
     font-style: italic;
     font-family: 'Tangerine',serif;
     color: black;
     font-size: 40px;
     text-shadow: 2px 2px 8px #EBBEEB;
     width:100%;
     display: inline-block;
    
     
}