
.btn{
    background-color: violet;
    color: black;
    border-radius: 50%;
   
}

.btnAddpestetot{
    background-color: #C1ECFA;

}

.btnDelete{
    border-radius: 2px;
    padding:10px 24px;
    background-color: #FF7878;
} 

.btnModify{
    border-radius: 2px;
    padding:10px 24px;
    background-color: #D2E8FF;
    
}


#btnDone{
    border-radius: 2px;
    padding:10px 24px;
    background-color: yellow;
}


.txtcls{
     font-style: italic;
  font-family: 'Tangerine',serif;
  font-weight: bold;
}


.getCB{
    padding: 10px 24px;
    font-size: 12px;
    border-color: black;
    background-color: #D3D3D3;
    color: black;
    border-radius: 1px;
}

.btnModifySubject{
    padding: 10px 24px;
    font-size: 12px;
    border-color: black;
    background-color: #FFB6C1;
    color: black;
    border-radius: 1px;
    margin-left: 10px;
}